h1{
    color: black;
    text-align: center;
    margin-top: 20px;       
    font-size: 50px;
    position: sticky;
}
p{
    color: black;
    text-align: center;
    margin-top: 20px;       
    font-size: 20px;    
}
footer {
    background-color: #BDE0FE;
    text-align: center;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 14px;
    margin-bottom:10px;
}