{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ATGIP</title>
    <link rel="stylesheet" href="{% static 'about.css'%}">
</head>
<body>
    {%include "header.html"%}
    <h1><b>ABOUT ATGIP</b></h1>
    <p>ATGIP is a platform where you can find the best collection of gifts🎁 </p>
    <p>We offer a wide range of gifts for all occasions, ensuring that you can find the perfect present for your loved ones.</p>
    <p>Our team is dedicated to providing you with the best shopping experience, from browsing our extensive catalog to receiving your order on time.</p>
    <p>We believe in quality and customer satisfaction, which is why we carefully select each item in our collection.</p>
    <p>Whether you're looking for a birthday gift, anniversary present, or just something special       for yourself, ATGIP has got you covered.</p>
    <p>Thank you for choosing ATGIP, and we look forward to serving you!</p>
    <footer>
        <p>&copy; 2023 ATGIP. All rights reserved.</p>     
    </footer> 
  
</body>
</html>